extends ../layout

block content
  // Controleer of er een filmobject is meegegeven
  if movie
    .card
      .card-header
        // De titel van de film in de header van de kaart
        h1.mb-0= movie.title
          if user 
            if isFavorite
              // Formulier om uit favorieten te verwijderen
              form(method="POST", action="/users/watchlist/remove")
                input(type="hidden", name="filmId", value=movie.film_id)
                button.btn.btn-danger(type="submit")
                  i.bi.bi-heart-fill 
                  |  Verwijder uit Kijklijst
            else
              // Formulier om aan favorieten toe te voegen
              form(method="POST", action="/users/watchlist/add")
                input(type="hidden", name="filmId", value=movie.film_id)
                button.btn.btn-primary(type="submit")
                  i.bi.bi-heart
                  |  Voeg toe aan Kijklijst
      .card-body
        h5.card-title Beschrijving
        p.card-text= movie.description
      // Een lijst met extra details
      ul.list-group.list-group-flush
        li.list-group-item
          strong Jaar van uitgave:
          |  #{movie.release_year}
        li.list-group-item
          strong Speelduur:
          |  #{movie.length} minuten
        li.list-group-item
          strong Beoordeling:
          |  #{movie.rating}
  else
    // Toon een melding als de film niet is gevonden
    .alert.alert-warning Film niet gevonden.