extends ../layout

block content
  if backUrl
    a.btn.btn-outline-light.mb-3(href=backUrl)
      i.bi.bi-arrow-left
      |  Terug
  if movie
    .card
      .card-header
        .d-flex.justify-content-between.align-items-center
          h1.mb-0= movie.title
          if customer
            if isFavorite
              form(method="POST", action="/customers/watchlist/remove")
                input(type="hidden", name="filmId", value=movie.film_id)
                button.btn.btn-danger(type="submit")
                  i.bi.bi-heart-fill 
                  |  Delete from Watchlist
            else
              form(method="POST", action="/customers/watchlist/add")
                input(type="hidden", name="filmId", value=movie.film_id)
                button.btn.btn-primary(type="submit")
                  i.bi.bi-heart
                  |  Add to Watchlist
      
      .card-body
        // We gebruiken een Bootstrap 'row' om de layout op te delen
        .row.g-4
          // --- Linkerkolom: Afbeelding ---
          // 'col-md-4' neemt 4 van de 12 kolommen in beslag op medium schermen en groter
          .col-md-4
            img.img-fluid.rounded(src="https://placehold.co/400x600/212529/ffffff?text=Film", alt="Filmposter")

          // --- Rechterkolom: Tekst ---
          // 'col-md-8' neemt de overige 8 van de 12 kolommen in beslag
          .col-md-8
            h5.card-title Movie description
            p.card-text= movie.description
            
            ul.list-group.list-group-flush.mt-4
              li.list-group-item
                strong Release year:
                |  #{movie.release_year}
              li.list-group-item
                strong Movie length:
                |  #{movie.length} minutes
              li.list-group-item
                strong Rating:
                |  #{movie.rating}
              if movie.category_name
                li.list-group-item
                  strong Genre:
                  | 
                  | #{movie.category_name}

        .align-items-center
          if relatedMovies && relatedMovies.length > 0
            hr.my-4
            h3.mb-4 Related Movies
            .row.row-cols-1.row-cols-sm-2.row-cols-md-4.row-cols-lg-5.g-4
              each r_movie in relatedMovies
                .col
                  a.text-decoration-none(href=`/movies/${r_movie.film_id}`)
                    .card.h-100.text-dark.movie-card-link
                      img.card-img-top.movie-card-img(src="https://placehold.co/200x300/212529/ffffff?text=Film", alt="Filmposter")
                      .card-body
                        h5.card-title= r_movie.title
  else
    .alert.alert-warning Movie not found.